{% if language is defined %}
    <ul class="nav navbar-nav navbar-right">
        {% for language_root in language.availableLanguageRoots %}
            {% set path = kotti_path(language.translatedContext(language_root)) %}
            <li class="{{ language_root.language == context.language ? 'active' : '' }}">
                <a href="{{ path }}">
                    {{ language_root.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
